*{
    margin: 0px;
    padding: 0px;
}



header{
    width: 100%;
    height: 65px;
    background-color: white;
    position: fixed;
    border: 1px solid black;
}

body{
    font-family: 'Neuton', serif;
}



.logo-menu{
    float: left;
    line-height: 65px;
}

.logo-menu img {
    width: 200px;
    margin: auto;
}

.menu{
    float: right;
    line-height: 65px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li{
    padding: 0px 20px;
}

.menu li:hover{
    background-color: #848fa5;
    height: 65px;
    cursor: pointer;
}

.menu .submenu{
    background-color: white;
    display: none;
    border: 1px solid black;
}

.menu .submenu li a{
    line-height: 50px;

}

.menu li:hover .submenu{
    display: block;
    width: 150px;
    position: absolute;
}

.seccion-1{
    height: 270px;
    margin: 40px 5px 40px 5px;
    width: 95%;
}

.titulo-seccion1{
    float: left;
    width: 100%;
}

.titulo-seccion1 a{
    float: right;
    color: black;
      
}

.contenedor-principal{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}


.imagen-categorias{
    text-align: center;
    padding-left: 15px;
}

.imagen-categorias img{
    height: 250px;
    border: 1px solid black;
    width: 250px;
    border-radius: 100%;
}

.imagen-categorias img:hover{
    border: 4px solid black;
}

.seccion-2{
    width: 95%;
    margin: 45px 5px 40px 5px;
    height: 780px;
}

.titulo-seccion2{
    width: 100%;
    float: left;
}

.titulo-seccion2 a{
    float: right;
    color: black;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 350px;
    padding: 10px;
    justify-content: center;
    
}


.caja-principal{
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 15px;
    height: auto;
}

.caja-principal h2{
    text-align: left;
    margin-left: 5px;
}

.caja-principal button{
    margin-bottom: 5px;
}

.caja-principal:hover{
    border: 4px solid black;
}

.caja-principal div{
    text-align: center;
}

.img1{
    width: 250px;
    height: 250px;
}

button{
    font-weight: bold;
}

.caja-principal button:hover{
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    background-color: #01172f;
    color: #fefae0;
}

.section-3{
    width: 100%;
    height: 550px;
    margin-top: 25px;
}

.padre-section3{
    height: 450px;
    width: 50%;
    text-align: center;
    margin: auto;
}

.hijo{
    border: 2px solid black;
}

.grid-formulario{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.ca1{
    height: auto;
    text-align: start;
}


.ca2{
    height: auto;
    text-align: start;
}

.ca2 textarea{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
}



.grid-formulario input{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.enviar{
    text-align: start;
}

.enviar button{
    height: 45px;
    width: 45%;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #01172f;
    color: white;
}

textarea{
    width: 45%;
}

.grid-formulario input:hover{
    border: 4px solid black;
    font-size: 20px;
}

.grid-formulario textarea:hover{
    border: 4px solid black;
    font-size: 20px;
}

.banner-testimonios{
    text-align: center;
    margin-top: 100px;
}

.grid-testimonios{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 450px;
    padding: 20px;
    margin: 15px 5px 15px 5px;
}

.caja-testimonios{
    height: 250px;
    padding: 20px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 5%;
}

.imagen-testimonios{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 2px solid black;
}

.caja-testimonios:hover{
    border: 4px solid black;
}

footer{
    height: 150px;
    width: 100%;
}

.grid-footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 150px;
}

.caja-footer{
    height: 150px;
    padding: 5px;
}

.caja-baja-footer{
    padding: 5px;
    height: auto;
    grid-column: 1/5;
}

.caja-baja-footer-izquierda{
    width: 50%;
    float: left;
}

.caja-baja-footer-derecha{
    width: 50%;
    float: right;
}

.hijo-footer{
    float: right;
    margin-right: 5px;
}

.caja-baja-footer-derecha i {
    font-size: 25px;
}

.facebook:hover{
    color: blue;
}

.twitter:hover{
    color: cyan;
}

.instagram:hover{
    color: indianred;
}

.youtube:hover{
    color: red;
}

.linkedin:hover{
    color: cornflowerblue;
}

.hijo-footer i:hover{
    font-size: 45px;
}
