*{
    padding: 0px;
    margin: 0px;
}




header{
    width: 100%;
    height: 65px;
    background-color: white;
    position: fixed;
    border: 1px solid black;
}

body{
    font-family: 'Neuton', serif;
}



.logo-menu{
    float: left;
    line-height: 65px;
}

.logo-menu img {
    width: 200px;
    margin: auto;
}

.menu{
    float: right;
    line-height: 65px;
    margin-right: 150px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li{
    padding: 0px 20px;
}

.menu li:hover{
    background-color: #848fa5;
    height: 65px;
    cursor: pointer;
}

.menu .submenu{
    background-color: white;
    display: none;
    border: 1px solid black;
}

.menu .submenu li a{
    line-height: 50px;

}

.menu li:hover .submenu{
    display: block;
    width: auto;
    position: absolute;
}


.grid-descuentos{
    height: auto;
    width: 85%;
    margin: 7px auto auto auto;
}

.grid-hijo-descuentos{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.titulo-descuentos{
    grid-column: 1/5;
    height: auto;
    text-align: center;
}

.titulo-descuentos h1{
    font-size: 45px;
}

.descuento{
    height: auto;
    width: 263.6px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.imagen-descuentos{
    width: 250px;
    padding: 5px;
}

.descuento p{
    color: red;
    font-size: 25px;
    font-weight: bold;
    float: right;
}

.descuento button{
    margin-left: 30%;
    background-color: #848fa5;
    color: white;
    height: 35px;
    font-weight: bold;
    border: 1px solid black;
    margin-top: 25px;
}

.descuento:hover{
    border: 2px solid black;
    background-color: palegoldenrod;
}

.descuento button:hover{
    border: 4px solid black;
    cursor: pointer;
}

.siguiente-descuentos{
    grid-column: 1/5;
    height: 70px;
}

.siguiente-descuentos-padre{
    height: auto;
    margin-top: 25px;
}

.siguiente-descuentos-hijo1{
    width: 50%;
}

.actual{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}


.siguiente-descuentos-hijo1 h3{
    margin-left: 5px;
}

.no-actual{
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    height: 150px;
    width: 100%;
}

.grid-footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 150px;
}

.caja-footer{
    height: 150px;
    padding: 5px;
}

.caja-baja-footer{
    padding: 5px;
    height: auto;
    grid-column: 1/5;
}

.caja-baja-footer-izquierda{
    width: 50%;
    float: left;
}

.caja-baja-footer-derecha{
    width: 50%;
    float: right;
}

.hijo-footer{
    float: right;
    margin-right: 5px;
}

.caja-baja-footer-derecha i {
    font-size: 25px;
}

.facebook:hover{
    color: blue;
}

.twitter:hover{
    color: cyan;
}

.instagram:hover{
    color: indianred;
}

.youtube:hover{
    color: red;
}

.linkedin:hover{
    color: cornflowerblue;
}

i{
    color: black;
}
