.nav{
    display: flex;
}

.buscador{
    width: 199px;
    height: 35px;
    transform: translate(650px, 10px);
    text-align: center;
}

.img{
    width: 60px;
    border-radius: 100%;
    transform: translate(1272px);
    border: 2px solid green;
    padding: 1px;
}

.ig{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin: 0px;
}

.imagen_principal{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 2px solid green;
    padding: 1px;
}
